<header class="masthead" style="background-image: url(<%= image_path "post-bg.jpg"%>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Concierge</h1>
          <span class="subheading">Lorem ipsum donot</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center gold-font">Posts</h1>
  <div class="section-line"></div>

  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <% @posts.each do |post| %>
      <div class="posting">
        <h3><%= post.title %></h3>
        <div class="row">
          <div class="col-12 col-md-6">
            <p><%= post.text %></p>
          </div>
          <div class="col-12 col-md-6">
            <img><%= post.image %></img>
          </div>
        </div>
      </div>
      <div class="content-post d-flex justify-content-end">
        <small class="mx-2"><%= link_to 'Show', post, class:"d-block text-dark" %></small>
        <small class="mx-2"><%= link_to 'Edit', edit_post_path(post), class:"d-block text-dark" %></small>
        <small class="mx-2"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"d-block text-dark" %></small>
      </div>
      <% end %>
      <div class="new-post my-3 text-right">
        <%= link_to 'New Post', new_post_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>